:root{
  /* Colors */
  --white:hsl(0, 100%, 100%);
  --black:hsl(0, 0%, 0%);
  --grey_600:hsl(180, 25%, 32%);
  --grey_550:hsl(180, 18%, 40%);
  --grey_500:hsl(186, 14%, 43%);
  --grey_400:hsl(184, 14%, 56%);



}